{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["env", ["minify", {
        "builtIns": false,
      }]],
      "comments": false,
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
